/* For Laptop Device */
@media screen and (max-width:1024px) and (min-width:769px) {
/* Shared Style Start */    
.title-description{
    max-width: 800px;
}
/* Shared Style End */

/* Banner Section Style Start */
.banner-container{
    margin: 50px auto;
}

.banner{
    padding: 40px 10px;
}

.banner h1{
    margin-top: 28px;
    margin-bottom: 20px;
    font-size: 34px;
}
/* Banner Section Style End */

/* Why Web Development Section Style Start */
.development-container{
    margin:0 10px 50px;
}

.development-card{
    padding: 48px 24px;
}

/* Why Web Development Section Style End */
}

/* For Tablet Device */
@media screen and (max-width:768px) and (min-width:426px) {
/* Shared Style Start */
.text-container{
    margin-bottom: 40px;
}
.text-title{
    font-size: 28px;
    margin-bottom: 10px;
}

.title-description{
    font-size: 15px;
}
/* Shared Style Start */


/* Banner Section Style Start */
.banner-container{
    margin: 40px auto;
}

.banner{
    padding: 40px 10px;
}

.banner h1{
    margin-top: 28px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 48px;
}

.banner p{
    font-size: 15px;
}
/* Banner Section Style End */

/* Why Web Development Section Style Start */
.development-container{
    margin:0 10px 40px;
}

.development-card{
    padding: 40px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}
.development-text-content{
    width: 100%;
}

.development-text-content h3{
    font-size: 20px;
    line-height: 24px;
}

.development-text-content p{
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0px 20px;
}

.development-img{
    width: 100%;
}
 /* Why Web Development Section Style Start */

}


/* For Mobile Device */
@media screen and (max-width:425px) {
/* Shared Style Start */
.btn-button{
        padding: 10px 16px;
        font-size: 13px;
}

.text-container{
    margin-bottom: 30px;
}
.text-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.title-description{
    font-size: 12px;
    line-height: 20px;
}
/* Shared Style End*/

/* Header Style Start */
.header{
        padding: 16px 10px;
        gap: 16px;
}
/* Header Style End */

/* Banner Section Style Start */
.banner-container{
    margin: 30px auto;
}

.banner{
padding: 30px 10px;
}

.banner h1{
margin-top: 16px;
margin-bottom: 10px;
font-size: 20px;
line-height: 32px;
}

.banner p{
    font-size: 12px;  
    line-height: 20px;
    margin: 0px auto 24px;
}
/* Banner Section Style End */

/* Why Web Development Section Style Start */
.development-container{
    margin:0 10px 30px;
}

.development-card{
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

.development-text-content{
    width: 100%;
}

.development-text-content h3{
    font-size: 18px;
    line-height: 28px;
}

.development-text-content p{
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0px 18px;
}

.development-img{
    width: 100%;
}
/* Why Web Development Section Style End */
}