/* Universal Style Start */
*{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0
}

body{
    background: linear-gradient(339deg, #B8E7FA 35.75%, #E6E6FA 90.79%);
}

.contents{
    max-width: 1260px;
    margin: 0 auto;
}
/* Universal Style End */

/* Shared Style Start */
.btn-button{
    padding: 17px 24px;
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    opacity: 0.8;
    background: linear-gradient(90deg, #FFA500 0%, #FFD447 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}

.btn-button:hover{
     color: #ffffff;
     background: linear-gradient(90deg, #ff6600 0%, #ff9a57 100%);
}

.text-container{
    margin-bottom: 48px;
    text-align: center;
    padding: 0px 10px;
}

.text-title{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.title-description{
    max-width: 852px;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px auto;
}

.card{
    background: linear-gradient(180deg, #E6EDF9 0%, #9DE5FF 100%);
    border-radius: 16px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
    width: 364px;
    padding: 40px;
}

.card-img-container img{
    width: 100%;
}

.card h1{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin: 24px 0px;
}

.card h3 a{
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
}
/* Shared Style End */

/* Header Style Start */
.header-container{
    background-color: #FFFFFF99;
    border-bottom: 1px solid #C6DBFF;
}

.header{
    padding: 24px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2{
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}

.header-font-color{
    color: #FFA500;
}
/* Header Style End */

/* Banner Section Style Start */
.banner-container{
    margin: 100px auto;
    padding: 0px 10px;
}

.banner{
    background-color: #E6EDF9;
    border-radius: 16px;
    padding: 40px 60px;
    text-align: center;
}

.banner h1{
    margin-top: 32px;
    margin-bottom: 24px;
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

.banner p{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 852px;
    margin: 0px auto 32px;
}
/* Banner Section Style Start */

/* Why Web Development Section Style Start */
.development-container{
    margin:0 10px 100px;
}

.development-card{
    background: #E6EDF9;
    border-radius: 16px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.development-text-content{
    width: 50%;
}

.development-text-content h3{
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.development-text-content p{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0px 32px;
}

.development-img{
    width: 50%;
}

.development-img img{
    width: 100%;
}
/* Why Web Development Section Style Start */

/* My Inspiration Section Style Start */
.youtube-embeded-video-container{
    border: 1px solid rgba(13, 19, 33, 0.20);
    border-radius: 16px;
    padding: 32px;
    margin: 0px 10px;
}
.youtube-embeded-video iframe{
    border-radius: 16px;
    width: 100%;
    height: 556px;
}
/* My Inspiration Section Style End */

/* My Current Target Section Style Start */
.current-target-container{
    margin: 100px auto;
}

.target-card-container{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}
/* My Current Target Section Style End */

/* Footer Section Style Start */
.footer{
    background: rgba(255, 255, 255, 0.60);
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer h3{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}

.social-icon-container{
    display: flex;
    gap: 24px;
}

.social-icon-container img{
    width: 36px;
    height: 36px;
}
/* Footer Section Style End */